<mat-card>
  
    <h3>Sign Up</h3>
    
    <form class="example-form">
        
        <mat-form-field class="example-full-width">
            <input  [(ngModel)] = "name" 
                    name = "name" 
                    matInput placeholder="First Name">
          </mat-form-field>
          <div *ngIf = "name == null">{{ required }}</div>
          <br>
        
          
      <mat-form-field class="example-full-width">
          <input  [(ngModel)] = "email" 
                  name = "email" 
                  matInput placeholder="Email">
        </mat-form-field>
        <div *ngIf = "code == 'auth/invalid-email' && flag">{{ message }}</div>
        <div *ngIf = "code == 'auth/email-already-in-use' && flag">{{ message }}</div>
        <div *ngIf = "email == null">{{ required }}</div>
        <br>
      
        <mat-form-field class="example-full-width">
            <input [(ngModel)] = "password" 
                    name = "password"
                    [type] = "hide ? 'password' : 'text'"
                    matInput placeholder="Password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
          <div *ngIf = "code == 'auth/weak-password' && flag"  class="err">{{ message }}</div>
          <div *ngIf = "password == null"  class="err" >{{ required }}</div>
          <div *ngIf = "valid == false"  class="err" >{{ validation }}</div>
      
          <button mat-raised-button 
                  (click)="signUp()">Sign Up</button>
  
    </form>
  </mat-card>